.mainContent{
	width: 92.5%;
	margin: auto;
}

h3 {
	text-align: center;
	text-decoration: underline;
}

.spacing {
	margin: 1em;
}

.row .vline {
	width: 1px;
	padding: 0px;
	border-left: medium rgb(238, 238, 238) solid; 
	height:300px;
}

.cat {
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}

.scrollable{
	overflow-y: auto;
	height: 30em; 
}

.end{
	color: #3c3c3c;
	text-align: center;
	padding-top: 1.4em;
}

html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 60px;
}
#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}